.clearfix {
  *zoom: 1;
}
.clearfix:before, 
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after { 
  clear: both; 
}
.main.content {
  width: 80%;
  margin: 7rem 10% 0 10%;
  .index.left {
    .ui.segment {
      float: left;
      height: 5rem;
      width: 100%;
      border: 0;
      box-shadow: none;
      margin-top: 5rem;
    }
  }
}